<!-- LANDING -->
<section class="relative ~px-4/8 ~pt-56/72 pb-16 bg-background overflow-hidden z-10
  before:absolute before:bottom-0 before:left-0 before:h-full before:w-full before:bg-gradient-to-t before:from-black before:to-black/25 before:-z-10">
  <div class="container m-auto flex flex-col items-center md:items-start gap-6">
    <!-- HEADING -->
    <span class="text-center text-white text-4xl font-bold leading-none">
      {{ title }}
    </span>

    <!-- BREADCRUMBS -->
    <ul class="flex flex-wrap justify-center items-center ~gap-2/4">
      {# Check if a blog post is open (if url is /blog/something) #}
      {% if page
        .url
        .match('^/blog/.+') %}
        <li>
          <a href="{{ item.url }}" class="text-stone-200 hover:text-white">Domů</a>
        </li>

        <!-- CHEVRON ICON -->
        <li class="text-stone-200">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.9,8.8L6.5,5.3l0.8-0.8l4.2,4.2L7.3,13l-0.8-0.8L9.9,8.8z"/>
          </svg>
        </li>

        <li>
          <a href="/blog" class="text-stone-200 hover:text-white">Blog</a>
        </li>

        <!-- CHEVRON ICON -->
        <li class="text-stone-200">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.9,8.8L6.5,5.3l0.8-0.8l4.2,4.2L7.3,13l-0.8-0.8L9.9,8.8z"/>
          </svg>
        </li>

        <li class="text-white line-clamp-1">{{ title }}</li>
      {% else %}
        {% for item in landing.breadcrumbs %}
          {% if item.url %}
            <li>
              <a href="{{ item.url }}" class="text-stone-200 hover:text-white">{{ item.title }}</a>
            </li>

            {# Show the chevron icon if this is not the last item #}
            {% if loop.index != landing.breadcrumbs.length %}
              <li class="text-stone-200">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.9,8.8L6.5,5.3l0.8-0.8l4.2,4.2L7.3,13l-0.8-0.8L9.9,8.8z"/>
                </svg>
              </li>
            {% endif %}

          {% else %}
            {# Show the chevron icon if this is not the last item #}
            {% if loop.index != landing.breadcrumbs.length %}
              <li class="text-stone-200">{{ item.title }}</li>

              <li class="text-stone-200">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.9,8.8L6.5,5.3l0.8-0.8l4.2,4.2L7.3,13l-0.8-0.8L9.9,8.8z"/>
                </svg>
              </li>
            {% else %}
              <li class="text-white line-clamp-1">{{ item.title }}</li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <!-- BACKGROUND -->
  <picture>
    <!-- MOBILE IMAGE -->
    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/landing.jpg' | avif %}" type="image/avif">
    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/landing.jpg' | webp %}" type="image/webp">
    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/landing.jpg' | jpeg %}" type="image/jpeg">
    <!-- TABLET IMAGE -->
    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/landing.jpg' | avif %}" type="image/avif">
    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/landing.jpg' | webp %}" type="image/webp">
    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/landing.jpg' | jpeg %}" type="image/jpeg">
    <!-- DESKTOP IMAGE -->
    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/landing.jpg' | resize({ width: 2880, height: 654 }) | avif %}" type="image/avif">
    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/landing.jpg' | resize({ width: 2880, height: 654 }) | webp %}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/landing.jpg' | resize({ width: 2880, height: 654 }) | jpeg %}" type="image/jpeg">
    <img
      class="object-cover absolute top-0 left-0 h-full w-full blur-sm -z-20"
      src="{% getUrl '/assets/images/landing.jpg' | resize({ width: 2880, height: 654 }) | jpeg %}"
      alt="Taneční sál s tančími páry"
      width="1920"
      height="436"
      loading="lazy"
      decoding="async"
      aria-hidden="true"
      draggable="false">
  </picture>
</section>