# Use DecapBridge PKCE auth (required)
backend:
  name: git-gateway
  repo: coalmarketing/Tanecni-studio-Ka
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/4f35002b-8b51-44d8-9170-9d6d19300cc8/pkce
  auth_token_endpoint: /sites/4f35002b-8b51-44d8-9170-9d6d19300cc8/token
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Enable PKCE fields (optional, recommended)
auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

# Add site links in Decap CMS (optional)
site_url: https://www.tanecnistudioka.cz

local_backend: true

# Change url to a link to the image you want to use, no file paths, must be a URL
logo:
  src: "https://coalmarketing.cz/wp-content/uploads/2024/08/coalmarketing_logo_long_color-black-1024x239.png"
  show_in_header: false

locale: "cs"

# Where should uploaded files be saved
media_folder: "src/assets/images/cms"

# Where should media be served, relative to the base of the built site
public_folder: "/assets/images/cms"

collections:
  # SITE CONTENT CONFIG
  - label: "Obsah webu"
    name: "siteContent"
    folder: "src/content/siteContent"
    create: false
    delete: false
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    fields:
      - {
          label: "Název podstránky",
          name: "title",
          widget: "string",
          hint: "Identifikace podstránky, díky které probíhá napojení na webu.",
        }
      - { label: "Nadpis", name: "heading", widget: "string" }
      - { label: "Obsah", name: "body", widget: "markdown" }

      - label: "Akční tlačítko"
        name: "cta"
        widget: "object"
        collapsed: false
        hint: "Odkaz zobrazený pod textem podstránky webu."
        fields:
          - {
              label: "Zobrazený text",
              name: "text",
              widget: "string",
              default: "Rezervace",
            }
          - {
              label: "URL odkaz",
              name: "url",
              widget: "string",
              default: "https://tanecni-studio-ka.reenio.cz/cs/terms/",
            }
          - label: "Otevřít odkaz"
            name: "target"
            widget: "select"
            default: ["_blank"]
            options:
              - { label: "Otevřít ve stejném okně", value: "_self" }
              - {
                  label: "Otevřít v novém okně / nové kartě (doporučeno pro externí odkazy)",
                  value: "_blank",
                }

      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["siteContent"],
        }

  # BLOG CONFIG
  - label: "Blog"
    name: "blog"
    folder: "src/content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    fields:
      - { label: "Název", name: "title", widget: "string" }
      - {
          label: "URL odkaz",
          name: "url",
          widget: "string",
          hint: "Určete, kam bude stránka zapsána. Pokud použijete „Blogový příspěvek“, bude příspěvek přístupný z „blog/blogovy-prispevek“.",
          pattern:
            [
              "^[A-Za-zÀ-ž0-9 ]+(?:-[A-Za-zÀ-ž0-9 ]+)*$",
              "Pouze písmena (A-Z, a-z), číslice a pomlčky (-). Žádná lomítka ani speciální znaky.",
            ],
        }
      - {
          label: "Popis",
          name: "description",
          widget: "string",
          hint: "Kratší popis blogového příspěvku, který se zobrazuje na náhledech příspěvků",
        }
      - { label: "Datum", name: "date", widget: "datetime" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["post"] }
      - {
          label: "Náhledový obrázek",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
        }
      - { label: "Popis obrázku", name: "imageAlt", widget: "string" }
      - { label: "Obsah", name: "body", widget: "markdown" }

  # TEAM CONFIG
  - label: "Lektoři"
    name: "team"
    identifier_field: "name"
    folder: "src/content/team"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false
    fields:
      - { label: "Jméno", name: "name", widget: "string" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["team"] }
      - {
          label: "Fotka",
          name: "image",
          widget: "image",
          choose_url: false, # Only allow local images - for image optimization reasons
        }
      - {
          label: "Kurzy",
          name: "courses",
          widget: "list",
          hint: "Taneční kurzy, které lektor vyučuje. Jednotlivé položky oddělujte čárkou.",
        }

  # GALLERY PHOTOS
  - label: "Galerie"
    name: "gallery"
    folder: "src/content/gallery"
    editor:
      preview: false
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Název alba", name: "title", widget: "string" }
      - {
          label: "Odkaz pro zobrazení alba",
          name: "url",
          widget: "string",
          required: false,
          hint: "URL odkaz sloužící k zobrazení celého alba na Google Disku",
        }
      - name: images
        label: Fotografie
        widget: list
        fields:
          - { name: url, label: Fotografie, widget: image, choose_url: false }
          - {
              label: "Popis fotografie",
              name: "alt",
              widget: "string",
              required: false,
            }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["gallery"],
        }
